@using ITmeze.Core.Security
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<ITmeze.Core.Views.Home.BlogPostDetailsViewModel>
@{
	Layout = "Views/Shared/_Layout.cshtml";
}

<article>
	<header>
		<h1>
			<a href="@Model.BlogPost.GetLink()">@Model.BlogPost.Title</a>
		</h1>
	</header>
	<p class="meta">
		<img src="http://www.gravatar.com/avatar/@Hasher.GetMd5Hash(Model.BlogPost.AuthorEmail)?s=16" width="16" />
		<a class="author">@Model.BlogPost.AuthorDisplayName</a>
		<time pubdate>@Model.BlogPost.PubDate.ToString("dd MMMM yyyy")</time>
	</p>
	<div>
		@Html.Raw(Model.BlogPost.Content)
	</div>
	<p>
		Tags: @foreach (var tag in Model.BlogPost.Tags)
		      {
			      <a href="/tagged/@tag.Slug">[@tag.Name]</a>
		      }
		<a href="@Model.BlogPost.GetLink()#disqus_thread"></a>
	</p>
</article>

<div id="disqus_thread"></div>

@section PostScripts {
	<script type="text/javascript">
		var disqus_shortname = '@ViewBag.Settings.Value.DisqusShortName';

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var dsq = document.createElement('script');
			dsq.type = 'text/javascript';
			dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
}